@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  transition: background 0.3s ease;
}

body {
  background: white;
  color: black;
}

html.dark body {
  background: black;
  color: white;
}